include head.jade

section(id="landing-head")
	a(href="/welcome") Home
	a(id="sign-in", href="/signin") Sign in
	a(id="sign-up", href="/signup") Sign up
	a(id="try", href="/") Taste it
	a(href="/about") About Us

form(id="landing-form",
	 name="loginform",
	 ng-controller="LandingController",
	 ng-submit="submitLogin()",
	 novalidate,
	 autocomplete="off")
	input(class="landing-data", 
		  type="text", 
		  name="login", 
		  placeholder="Login/Email",
		  ng-model="user.login",
		  ng-class="{invalid: loginform.$submitted && loginform.login.$invalid}",
		  required)
	input(class="landing-data", 
		  type="password", 
		  name="password", 
		  placeholder="Password",
		  ng-model="user.password",
		  ng-class="{invalid: loginform.$submitted && loginform.password.$invalid}",
		  required)
	button(class="landing-data", 
		   type="submit") Sign in

include footer.jade
