include head.jade

section(id="landing-head")
	a(href="/welcome") Home
	a(id="sign-in", href="/signin") Sign in
	a(id="sign-up", href="/signup") Sign up
	a(id="try", href="/") Taste it
	a(href="/about") About Us

form(id="landing-form", 
	 name="regform", 
	 ng-submit="submitRegistration()", 
	 ng-controller="LandingController",
	 novalidate,
	 autocomplete="off")
	input(class="landing-data", 
		  type="email", 
		  name="email", 
		  placeholder="Email", 
		  ng-model="user.email", 
		  ng-class="{invalid: regform.email.submitted && (regform.email.$error.required || regform.email.$invalid)}",
		  required)
	input(class="landing-data", 
		  type="text", 
		  name="login", 
		  placeholder="Login", 
		  ng-model="user.login", 
		  ng-class="{invalid: regform.login.submitted && (regform.login.$error.required || regform.login.$invalid)}",
		  required)
	input(class="landing-data", 
		  type="password", 
		  name="password", 
		  placeholder="Password", 
		  ng-model="user.password", 
		  ng-class="{invalid: regform.password.submitted && (regform.password.$error.required || regform.  password.$invalid)}",
		  required)
	input(class="landing-data", 
		  type="password", 
		  name="password_repeat", 
		  placeholder="Repeat password", 
		  ng-model="user.password_repeat", 
		  ng-class="{invalid: regform.password_repeat.submitted && (regform.password_repeat.$error.required ||   regform.password_repeat.$invalid)}",
		  required)
	button(class="landing-data", 
		   type="submit",
		   ng-click="signup()") Sign up

include footer.jade
